In [16]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## やりたいこと
+ 1000以下の素数を列挙する

In [22]:
%%sql
drop view if exists series;
create view series as (
    select generate_series(1,1000) as num
);

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.

[]

In [28]:
%%sql
-- 整数の中で割り切れるようなものが存在しないものを列挙する
select *
from series as s1
where not exists (
    select *
    from series as s2
    where s2.num >= 2 and
    s1.num > s2.num and
    mod(s1.num, s2.num) = 0
)
limit 20

*  postgresql://padawan:***@db:5432/dsdojo_db
20 rows affected.

[(1,),
 (2,),
 (3,),
 (5,),
 (7,),
 (11,),
 (13,),
 (17,),
 (19,),
 (23,),
 (29,),
 (31,),
 (37,),
 (41,),
 (43,),
 (47,),
 (53,),
 (59,),
 (61,),
 (67,)]

In [33]:
%%sql
-- すべての素数から非素数を除外する
select *
from Series
except (
    select (s1.num * s2.num) as non_prime
    from Series as s1, Series as s2
    where s1.num between 2 and 500 and
    s2.num between 2 and 500 and
    s1.num <= s2.num
)
order by num

*  postgresql://padawan:***@db:5432/dsdojo_db
169 rows affected.

[(1,),
 (2,),
 (3,),
 (5,),
 (7,),
 (11,),
 (13,),
 (17,),
 (19,),
 (23,),
 (29,),
 (31,),
 (37,),
 (41,),
 (43,),
 (47,),
 (53,),
 (59,),
 (61,),
 (67,),
 (71,),
 (73,),
 (79,),
 (83,),
 (89,),
 (97,),
 (101,),
 (103,),
 (107,),
 (109,),
 (113,),
 (127,),
 (131,),
 (137,),
 (139,),
 (149,),
 (151,),
 (157,),
 (163,),
 (167,),
 (173,),
 (179,),
 (181,),
 (191,),
 (193,),
 (197,),
 (199,),
 (211,),
 (223,),
 (227,),
 (229,),
 (233,),
 (239,),
 (241,),
 (251,),
 (257,),
 (263,),
 (269,),
 (271,),
 (277,),
 (281,),
 (283,),
 (293,),
 (307,),
 (311,),
 (313,),
 (317,),
 (331,),
 (337,),
 (347,),
 (349,),
 (353,),
 (359,),
 (367,),
 (373,),
 (379,),
 (383,),
 (389,),
 (397,),
 (401,),
 (409,),
 (419,),
 (421,),
 (431,),
 (433,),
 (439,),
 (443,),
 (449,),
 (457,),
 (461,),
 (463,),
 (467,),
 (479,),
 (487,),
 (491,),
 (499,),
 (503,),
 (509,),
 (521,),
 (523,),
 (541,),
 (547,),
 (557,),
 (563,),
 (569,),
 (571,),
 (577,),
 (587,),
 (593,),
 (599,),
 (601,),
 (607,),
 (613,),
 (617,),
 (619,),
 (631,),
 (641,),
 (643,),
 (647,),
 (653,),
 (659,),
 (661,),
 (673,),
 (677,),
 (683,),
 (691,),
 (701,),
 (709,),
 (719,),
 (727,),
 (733,),
 (739,),
 (743,),
 (751,),
 (757,),
 (761,),
 (769,),
 (773,),
 (787,),
 (797,),
 (809,),
 (811,),
 (821,),
 (823,),
 (827,),
 (829,),
 (839,),
 (853,),
 (857,),
 (859,),
 (863,),
 (877,),
 (881,),
 (883,),
 (887,),
 (907,),
 (911,),
 (919,),
 (929,),
 (937,),
 (941,),
 (947,),
 (953,),
 (967,),
 (971,),
 (977,),
 (983,),
 (991,),
 (997,)]